# File managed by Ansible
# Content generated using autologic-elasticsearch
# 
# Manual changes will likely be overwritten.

{% if autologic_elasticsearch_configuration != False %}
{% for key,value in autologic_elasticsearch_configuration.iteritems() %}
{{key}}: {{value}}
{% endfor %}
{% endif %}
