# File managed by Ansible
# Content generated using autologic-elasticsearch
# 
# Manual changes will likely be overwritten.

{% for key,value in autologic_elasticsearch_logging.iteritems() %}
{{key}}: {{value}}
{% endfor %}
